[submodule "docs/the-fair-cookbook"]
	path = docs/the-fair-cookbook
	url = https://github.com/nih-cfde/the-fair-cookbook.git
        branch = master
[submodule "docs/c2m2"]
	path = docs/c2m2
	url = git@github.com:nih-cfde/c2m2.git
	branch = master
